@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Poppins:wght@300;400;600;700&display=swap');

body {
    font-family: 'Poppins';
    font-size: 16px;
}

a, a:visited, button {
    color: #313131;
    font-size: 16px;
    text-decoration: none;
    padding: 5px;
    border: 0px solid white;
    background: transparent;
}

h3 {
    font-size: 18px;
}

h1 {
    font-size: 24px;
}

.content-box {
    background: #FAF9F7;
    border-radius: 5px;
    max-width: 50%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: left;
    position: relative;
}

.content-box-poets {
    background: #FAF9F7;
    border-radius: 5px;
    max-width: 50%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.logo {
    background: #111111;
    color: #E4E4E4;
    font-family: 'Poppins';
    font-weight: 600;
}

.input-label {
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 16px;
}

input {
    width: 100%;
    background: #FDFDFD;
    border: 0px solid white;
    height: 32px;
}

.large-text-input {
    height: 300px;
}

.submit-poem {
    background: #222020;
    color: #FDFDFD;
    font-weight: 600;
    line-height: 1.4;
    margin: 10px 0px;
}

.welcome-message {
    text-align: left;
}

.heart-poem-like {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.title-line {
    padding: 10px 0px;
    border-bottom: 1px solid #303030;
    display: flex;
    justify-content: space-between;
    align-items: center;
}